__data__/xsinc/gml/feature.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.opengis.net/gml/3.2" elementFormDefault="qualified">

  <xs:complexType name="AbstractFeatureType" abstract="true"/>

  <xs:element name="AbstractFeature" type="gml:AbstractFeatureType" abstract="true"/>

  <xs:complexType name="FeaturePropertyType">
    <xs:sequence minOccurs="0"><xs:element ref="gml:AbstractFeature"/></xs:sequence>
  </xs:complexType>
  
</xs:schema>