__tests__/0ld/commons/fns-common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://x-artefacts-fns/commons/4.0.0" xmlns:commons="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" targetNamespace="urn://x-artefacts-fns/commons/4.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="smev-supplementary-commons.xsd"/>
	<!--==========================================  Структурированные типы  ==========================================-->
	<xs:complexType name="AddressFIASType">
		<xs:annotation>
			<xs:documentation>Адрес по ФИАС </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="District" type="tns:ItemNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Colony" type="tns:ItemNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Поселение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Town" type="tns:ItemNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locality" type="tns:ItemNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StructurePlanning" type="tns:ItemNameType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Планировочная структура</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Road" type="tns:ItemNameType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улично-
дорожная сеть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stead" type="tns:ItemNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Земельный
участок</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="House" type="tns:ItemNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Housing" type="tns:ItemNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="tns:ItemNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Строение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Apartment" type="tns:ItemNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Квартира (офис)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Room" type="tns:ItemNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Комната</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="tns:string-36" use="optional">
			<xs:annotation>
				<xs:documentation>Уникальный идентификационный номер</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IndexPostal" type="tns:digits-6" use="optional">
			<xs:annotation>
				<xs:documentation>Почтовый индекс</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Region" type="tns:SSRFType" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AddressОutRF">
		<xs:annotation>
			<xs:documentation>Адрес вне РФ </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Страна" type="tns:OKCMType" use="required">
			<xs:annotation>
				<xs:documentation>Код страны</xs:documentation>
				<xs:documentation>
				Принимает значение (цифровой код) в соответствии с Общероссийским классификатором стран мира</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Адрес" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Адрес</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IdentityDocumentType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DocumentCode" type="tns:SPDULType" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SeriesNumber" type="tns:SPDULTemplateType" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IssuerDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Issuer" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Наименование органа, выдавшего документ, удостоверяющий личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IssuerCode" type="tns:string-7" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения органа, выдавшего документ, удостоверяющий личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ItemNameType">
		<xs:annotation>
			<xs:documentation>Сведения о наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ItemNumberType">
		<xs:annotation>
			<xs:documentation>Сведения о номере адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Number" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Номер элемента</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PhysicalPersonDataType">
		<xs:sequence>
			<xs:element name="PhysicalPersonName" type="tns:PhysicalPersonNameType">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityDocument" type="tns:IdentityDocumentType">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BirthDate" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата рождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BirthPlace" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Место рождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PhysicalPersonNameType">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FamilyName" type="tns:string-60" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstName" type="tns:string-60" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Patronymic" type="tns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RegistrationDocumentType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, подтверждающем регистрацию физического лица по месту жительства (месту пребывания)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DocumentCode" type="tns:SPDULType" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Number" type="tns:string-20" use="required">
			<xs:annotation>
				<xs:documentation>Номер документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IssuerDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи документа, </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Issuer" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Наименование органа, выдавшего документ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ЛицОргТип">
		<xs:annotation>
			<xs:documentation>Сведения о лицензирующем органе</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ОКОГУ" type="tns:OKOGUType" use="required">
			<xs:annotation>
				<xs:documentation>Код органа государственной власти по  общероссийскому классификатору ОКОГУ к которому принадлежит лицензирующий орган</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Регион" type="tns:SSRFType" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта РФ, на территории которого находится лицензирующий орган</xs:documentation>
				<xs:documentation>Указывается код по справочнику ССРФ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимЛОПолн" type="tns:string-500" use="required">
			<xs:annotation>
				<xs:documentation>Полное наименование лицензирующего органа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимЛОСокр" type="tns:string-100" use="required">
			<xs:annotation>
				<xs:documentation>Сокращенное наименование лицензирующего органа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ИННЛО" type="tns:LegalPersonINNType" use="required">
			<xs:annotation>
				<xs:documentation>ИНН лицензирующего органа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ОГРНЛО" type="tns:OGRNCompanyType" use="required">
			<xs:annotation>
				<xs:documentation>ОГРН лицензирующего органа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидЗапТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде записи, внесенной в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодСПВЗ" type="tns:string-5" use="required">
			<xs:annotation>
				<xs:documentation>Код вида записи (причины внесения записи в ЕГРИП)  по справочнику СПВЗ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимВидЗап" type="tns:string-500" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида записи (причины внесения записи в ЕГРИП) </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрРФТипВып">
		<xs:annotation>
			<xs:documentation>Адрес в Российской Федерации (для выписок из ЕГРЮЛ/ЕГРИП)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Регион">
				<xs:annotation>
					<xs:documentation>Субъект Российской Федерации</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипРегион" use="required">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта субъект (республика, край и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимРегион" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта субъект </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="40"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Район" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район (улус и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипРайон" use="required">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта район (улус и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимРайон" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта район (улус и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="40"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Город" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город (волость и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипГород" use="required">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта город (волость и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимГород" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта город (волость и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="40"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="НаселПункт" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт (село и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипНаселПункт" use="optional">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта населенный пункт (село и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимНаселПункт" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта населенный пункт (село и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Улица" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица (проспект, 
переулок и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипУлица" use="optional">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта улица (проспект, 
переулок и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимУлица" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта улица (проспект, 
переулок и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
					<xs:pattern value="[0-9]{6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодРегион" type="tns:SSRFType" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КодАдрКладр" use="optional">
			<xs:annotation>
				<xs:documentation>Код адреса по КЛАДР</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="11"/>
					<xs:maxLength value="19"/>
					<xs:pattern value="[0-9]{11}"/>
					<xs:pattern value="[0-9]{15}"/>
					<xs:pattern value="[0-9]{19}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Дом" use="optional">
			<xs:annotation>
				<xs:documentation>Дом (владение и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Корпус" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус (строение и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Кварт" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира (офис и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ГРНИПДатаТип">
		<xs:annotation>
			<xs:documentation>ГРН и дата внесения записи в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ГРНИП" type="tns:OGRNSoleProprietorType" use="optional">
			<xs:annotation>
				<xs:documentation>Государственный регистрационный номер записи ЕГРИП</xs:documentation>
				<xs:documentation>Может отсутствовать, если запись в ЕГРИП вносилась без присвоения государственного регистрационного номера</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаЗаписи" use="required">
			<xs:annotation>
				<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвРегОргТип">
		<xs:annotation>
			<xs:documentation>Сведения о регистрирующем органе</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНО" type="tns:SONOType" use="required">
			<xs:annotation>
				<xs:documentation>Код органа по справочнику СОНО</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимНО" type="tns:string-500" use="required">
			<xs:annotation>
				<xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="УдЛичнТипР">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность </xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодВидДок" type="tns:SPDULType" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа по справочнику СПДУЛ </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимДок" type="tns:string-100" use="required">
			<xs:annotation>
				<xs:documentation>Наименование документа по справочнику СПДУЛ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="СерНомДок" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаДок" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ВыдДок" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Кем выдан документ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КодВыдДок" type="tns:string-7" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения, выдавшего документ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИО1Тип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" type="tns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
				<xs:documentation>Является обязательным при отсутствии имени ФЛ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Имя" type="tns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
				<xs:documentation>Является обязательным при отсутствии фамилии ФЛ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Отчество" type="tns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрИнЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресе за пределами территории РФ, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ОКСМ" type="tns:OKCMType" use="required">
			<xs:annotation>
				<xs:documentation>Код страны</xs:documentation>
				<xs:documentation>Принимает значение в соответствии с Общероссийским классификатором стран мира (ОКСМ)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимСтран" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Наименование страны</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="АдрИн" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Адрес</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрРФЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресе в РФ, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Регион" type="tns:РегионТип">
				<xs:annotation>
					<xs:documentation>Субъект Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Район" type="tns:РайонТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район (улус и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Город" type="tns:ГородТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город (волость и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаселПункт" type="tns:НаселПунктТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт (село и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Улица" type="tns:УлицаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица (проспект, 
переулок и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Индекс" type="tns:digits-6" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КодРегион" type="tns:SSRFType" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КодАдрКладр" type="tns:string-20" use="optional">
			<xs:annotation>
				<xs:documentation>Код адреса по КЛАДР</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Дом" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Дом (владение и т.п.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Корпус" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус (строение и т.п.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Кварт" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира (офис и т.п.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ГородТип">
		<xs:annotation>
			<xs:documentation>Сведенияо о адресообразующем элементе город</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипГород" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента город (волость и т.п.)</xs:documentation>
				<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимГород" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент город) </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ГРНДатаТип">
		<xs:annotation>
			<xs:documentation>ГРН и дата внесения записи в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ГРН" type="tns:OGRNCompanyType" use="optional">
			<xs:annotation>
				<xs:documentation>Государственный регистрационный номер записи ЕГРЮЛ</xs:documentation>
				<xs:documentation>Может отсутствовать, если запись в ЕГРЮЛ вносилась без присвоения государственного регистрационного номера</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаЗаписи" use="required">
			<xs:annotation>
				<xs:documentation>Дата внесения записи в ЕГРЮЛ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ДоляУстКапЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Доля в уставном капитале (складочном капитале, уставном фонде, паевом фонде), внесенная в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="РазмерДоли" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер доли (в процентах или в виде дроби - десятичной или простой) </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Процент" type="tns:number-18_15">
							<xs:annotation>
								<xs:documentation>Размер доли в процентах</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ДробДесят" type="tns:number-18_15">
							<xs:annotation>
								<xs:documentation>Размер доли в десятичных дробях</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ДробПрост" type="tns:ДробьТип">
							<xs:annotation>
								<xs:documentation>Размер доли в простых дробях</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="НоминСтоим" type="tns:number-19_4" use="required">
			<xs:annotation>
				<xs:documentation>Номинальная стоимость доли в рублях</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ДробьТип">
		<xs:annotation>
			<xs:documentation>Представление простой дроби</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Числит" use="required">
			<xs:annotation>
				<xs:documentation>Числитель простой дроби</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="tns:number-18">
					<xs:minInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Знаменат" use="required">
			<xs:annotation>
				<xs:documentation>Знаменатель простой дроби</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="tns:number-18">
					<xs:minInclusive value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ИдГРНДатаТип">
		<xs:annotation>
			<xs:documentation>Идентификатор записи, ГРН (при наличии) и дата внесения записи в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ИдЗап" type="tns:number-19" use="required">
			<xs:annotation>
				<xs:documentation>Системный идентификатор записи</xs:documentation>
				<xs:documentation>При наличии государственного регистрационного номера записи может совпадать с этим номером</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ГРН" type="tns:OGRNCompanyType" use="optional">
			<xs:annotation>
				<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
				<xs:documentation>Может отсутствовать, если запись в ЕГРЮЛ внесена без присвоения государственного регистрационного номера</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаЗап" use="required">
			<xs:annotation>
				<xs:documentation>Дата внесения записи в ЕГРЮЛ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="НаселПунктТип">
		<xs:annotation>
			<xs:documentation>Сведенияо о адресообразующем элементе населенный пункт</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипНаселПункт" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Тип элемента населенный пункт (село и т.п.)</xs:documentation>
				<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России (КЛАДР)</xs:documentation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимНаселПункт" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент населенный пункт)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="РайонТип">
		<xs:annotation>
			<xs:documentation>Сведенияо о адресообразующем элементе район</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипРайон" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента район (улус и т.п.)</xs:documentation>
				<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимРайон" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент район)  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="РегионТип">
		<xs:annotation>
			<xs:documentation>Сведения о адресообразующем элементе регион</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипРегион" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента регион (республика, край и т.п.)</xs:documentation>
				<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России (КЛАДР)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимРегион" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент регион)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="РешСудТип">
		<xs:annotation>
			<xs:documentation>Сведения о решении суда</xs:documentation>
		</xs:annotation>
		<xs:attribute name="НаимСуда" type="tns:string-1000" use="required">
			<xs:annotation>
				<xs:documentation>Наименование суда, которым принято решение</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Номер" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Номер решения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Дата" use="required">
			<xs:annotation>
				<xs:documentation>Дата решения</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвНаимПодраздТип">
		<xs:annotation>
			<xs:documentation>Сведения о наименовании обособленного подразделения (филиала/представительства)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="НаимПолн" type="tns:string-1000" use="required">
			<xs:annotation>
				<xs:documentation>Наименование</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвНомТелТип">
		<xs:annotation>
			<xs:documentation>Сведения о контактном телефоне</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="НомТел" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Контактный телефон</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвНОТип">
		<xs:annotation>
			<xs:documentation>Сведения о налоговом органе, в котором юридическое лицо или обособленное подразделение состоит (состояло) на учете</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНО" type="tns:SONOType" use="required">
			<xs:annotation>
				<xs:documentation>Код органа по справочнику СОНО</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимНО" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Наименование налогового органа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвНотУдДогЗалТип">
		<xs:annotation>
			<xs:documentation>Сведения о нотариальном удостоверении договора залога</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="СвНотариус" type="tns:СвФЛЕГРЮЛТип">
				<xs:annotation>
					<xs:documentation>ФИО и (при наличии) ИНН нотариуса, удостоверившего договор залога</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Номер" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Номер договора залога</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Дата" use="required">
			<xs:annotation>
				<xs:documentation>Дата договора залога</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвОбремТип">
		<xs:annotation>
			<xs:documentation>Сведения об обременении доли участника, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="РешСуд" type="tns:РешСудТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о решении судебного органа, по которому на долю учредителя (участника) наложено обременение</xs:documentation>
					<xs:documentation>Формируется в случае, если обременение на долю учредителя (участника) наложено судебным решением</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СвЗалогДержФЛ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о залогодержателе - ФЛ</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ГРНДатаПерв" type="tns:ГРНДатаТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ГРН и дата внесения в ЕГРЮЛ сведений о данном лице</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="СвФЛ" type="tns:СвФЛЕГРЮЛТип">
							<xs:annotation>
								<xs:documentation>Сведения о ФИО и (при наличии) ИНН ФЛ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="СвРождФЛ" type="tns:СвРождЕГРЮЛТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения о рождении ФЛ</xs:documentation>
								<xs:documentation>Ограниченный доступ. Выгружаются только органам, которым по действующему законодательству предоставляются указанные сведения</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="УдЛичнФЛ" type="tns:УдЛичнЕГРЮЛТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
								<xs:documentation>Ограниченный доступ. Выгружаются только органам, которым по действующему законодательству предоставляются указанные сведения</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="АдресМЖРФ" type="tns:АдрРФЕГРЮЛТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения об адресе места жительства в Российской Федерации</xs:documentation>
								<xs:documentation>Ограниченный доступ. Выгружаются только органам, которым по действующему законодательству предоставляются указанные сведения</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="АдрМЖИн" type="tns:АдрИнЕГРЮЛТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения об адресе места жительства за пределами территории Российской Федерации</xs:documentation>
								<xs:documentation>Ограниченный доступ. Выгружаются только органам, которым по действующему законодательству предоставляются указанные сведения</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="СвНотУдДогЗал" type="tns:СвНотУдДогЗалТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения о нотариальном удостоверении договора залога</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="СвЗалогДержЮЛ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о залогодержателе - ЮЛ</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ГРНДатаПерв" type="tns:ГРНДатаТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ГРН и дата внесения в ЕГРЮЛ сведений о данном лице</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="НаимИННЮЛ" type="tns:СвЮЛЕГРЮЛТип">
							<xs:annotation>
								<xs:documentation>Сведения о наименовании и (при наличии) ОГРН и ИНН ЮЛ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="СвРегИн" type="tns:СвРегИнЮЛЕГРЮЛТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения о регистрации в стране происхождения</xs:documentation>
								<xs:documentation>Формируется при наличии указанных сведений в ЕГРЮЛ в отношении управляющей организации - иностранного ЮЛ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="СвНотУдДогЗал" type="tns:СвНотУдДогЗалТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения о нотариальном удостоверении договора залога</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ВидОбрем" use="required">
			<xs:annotation>
				<xs:documentation>Вид обременения</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="tns:string-20">
					<xs:enumeration value="ЗАЛОГ"/>
					<xs:enumeration value="ИНОЕ ОБРЕМЕНЕНИЕ"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СрокОбременения" type="tns:string-5000" use="optional">
			<xs:annotation>
				<xs:documentation>Срок обременения или порядок определения срока</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде деятельности, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="КодОКВЭД" type="tns:OKVEDType" use="required">
			<xs:annotation>
				<xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимОКВЭД" type="tns:string-1000" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ПрВерсОКВЭД" use="optional">
			<xs:annotation>
				<xs:documentation>Признак версии Общероссийского классификатора видов экономической деятельности</xs:documentation>
				<xs:documentation> , где: 				
				2001 – если код соответствует версии ОКВЭД ОК 029-2001 (КДЕС Ред. 1);
2007 – если код соответствует версии ОКВЭД ОК 029-2007 (КДЕС Ред. 1.1);
2014 – если код соответствует версии ОКВЭД ОК 029-2014 (КДЕС Ред. 2).
Отсутствие данного атрибута в файле означает, что при внесении кода ОКВЭД использовался классификатор ОК 029-2001 (КДЕС Ред. 1)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="tns:string-10">
					<xs:enumeration value="2001"/>
					<xs:enumeration value="2007"/>
					<xs:enumeration value="2014"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвРегИнЮЛЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Сведения о регистрации иностранного ЮЛ в стране происхождения, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ОКСМ" type="tns:OKCMType" use="required">
			<xs:annotation>
				<xs:documentation>Код страны происхождения</xs:documentation>
				<xs:documentation>Принимает значение в соответствии с Общероссийским классификатором стран мира (ОКСМ)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимСтран" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Наименование страны происхождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаРег" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата регистрации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="РегНомер" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Регистрационный номер</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимРегОрг" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Наименование регистрирующего органа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="АдрСтр" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Адрес (место нахождения) в стране происхождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвРождЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Сведения о рождении ФЛ, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ДатаРожд" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата рождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="МестоРожд" type="tns:string-255" use="required">
			<xs:annotation>
				<xs:documentation>Место рождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ПрДатаРожд" use="optional">
			<xs:annotation>
				<xs:documentation>Признак полноты представляемой даты рождения физического лица</xs:documentation>
				<xs:documentation>
											, где:
											1 – только год (сведения о месяце и дне в указанном месяце отсутствуют);
2 – только месяц и код (сведения о дне в указанном месяце отсутствуют);
3 – полная дата.
Отсутствие указанного реквизита означает полную дату рождения (соответствует значению ПрДатаРожд=3)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="tns:string-1">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвУчетНОПодраздТип">
		<xs:annotation>
			<xs:documentation>Сведения об учете в налоговом органе по месту нахождения обособленного подразделения (филиала/представительства)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="СвНО" type="tns:СвНОТип">
				<xs:annotation>
					<xs:documentation>Сведения о налоговом органе по месту нахождения филиала/представительства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="КПП" type="tns:KPPType" use="required">
			<xs:annotation>
				<xs:documentation>КПП филиала/представительства</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаПостУч" use="required">
			<xs:annotation>
				<xs:documentation>Дата постановки на учет в налоговом органе</xs:documentation>
				<xs:documentation>Для ЮЛ созданных после 01.07.2002 г. является датой регистрации ЮЛ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвФЛЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Сведения о ФИО, ИНН и контактном телефоне ФЛ, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Фамилия" type="tns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
				<xs:documentation>Является обязательным при отсутствии имени ФЛ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Имя" type="tns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
				<xs:documentation>Является обязательным при отсутствии фамилии ФЛ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Отчество" type="tns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ИННФЛ" type="tns:PhysicalPersonINNType" use="optional">
			<xs:annotation>
				<xs:documentation>ИНН ФЛ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвЮЛЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Сведения о наименовании и (при наличии) ИНН и ОГРН ЮЛ - учредителя (участника), управляющей организации, залогодержателя, управляющего долей участника, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ОГРН" type="tns:OGRNCompanyType" use="optional">
			<xs:annotation>
				<xs:documentation>Основной государственный регистрационный номер юридического лица</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ИНН" type="tns:LegalPersonINNType" use="optional">
			<xs:annotation>
				<xs:documentation>ИНН юридического лица</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимЮЛПолн" type="tns:string-1000" use="required">
			<xs:annotation>
				<xs:documentation>Полное наименование юридического лица</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="УлицаТип">
		<xs:annotation>
			<xs:documentation>Сведения о адресообразующем элементе улица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипУлица" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Тип адресного объекта улица (проспект, 
переулок и т.п.)</xs:documentation>
				<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимУлица" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент улица) </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="УдЛичнЕГРЮЛТип">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность, внесенные в ЕГРЮЛ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНДата" type="tns:ГРНДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНДатаИспр" type="tns:ГРНДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРЮЛ записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
					<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="КодВидДок" type="tns:SPDULType" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа по справочнику СПДУЛ </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимДок" type="tns:string-100" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="СерНомДок" type="tns:string-50" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаДок" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ВыдДок" type="tns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Кем выдан</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КодВыдДок" type="tns:string-7" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="DatType">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-20">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из двадцати цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="\d{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-11">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из одиннадцати цифр. Например номер записи</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-6">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 6 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-4">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из четырёх цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-2">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 2 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KPPType">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDRequestType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalPersonINNType">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-19_4">
		<xs:annotation>
			<xs:documentation>Число десятичноеое, содержащее до 19 разрядов, четыре после запятой</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-18_15">
		<xs:annotation>
			<xs:documentation>Число десятичноеое, содержащее до 18 разрядов, пятнадцать после запятой</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-18_2">
		<xs:annotation>
			<xs:documentation>Число десятичноеое, содержащее до 18 разрядов, два после запятой</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-19">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 19 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-18">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 18 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-9">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 9 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-3">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 3 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-2">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 2 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-1">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее 1 разряд</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNSoleProprietorType">
		<xs:annotation>
			<xs:documentation>ОГРН индивидуального предпринимателя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="[3]{1}\d{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNCompanyType">
		<xs:annotation>
			<xs:documentation>ОГРН юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[125]{1}\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKOGUType">
		<xs:annotation>
			<xs:documentation>Код ОКОГУ (7-разрядный, цифровой)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="\d{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKOGU5Type">
		<xs:annotation>
			<xs:documentation>Код ОКОГУ (5-разрядный или 7-разрядный, цифровой)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="7"/>
			<xs:pattern value="\d{7}"/>
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKBType">
		<xs:annotation>
			<xs:documentation>Код  Общероссийского классификатора валют (3-разрядный, цифровой)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKTMOType">
		<xs:annotation>
			<xs:documentation>Код Общероссийского классификатора территорий муниципальных образований</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="\d{8}"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKCMType">
		<xs:annotation>
			<xs:documentation>Код Общероссийского классификатора стран мира (3-разрядный, цифровой)</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKVEDType">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора видов экономической деятельности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="4"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhysicalPersonINNType">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-100">
		<xs:annotation>
			<xs:documentation>Русский текст, длиной до 100 символов, цифры не допускаются.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:rus">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus-60">
		<xs:annotation>
			<xs:documentation>Текст, длиной от 1 до 60 символов</xs:documentation>
			<xs:documentation>Содержит кириллические буквы, дефисы, пробелы, точки и запятые</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rus">
		<xs:annotation>
			<xs:documentation>Русский текст. Допускаются также пробелы, точки, запятые, тире, апострофы. Цифры не допускаются.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[а-яА-ЯёЁ\-0-9][а-яА-ЯёЁ\-\s'',.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СЛВДТип">
		<xs:annotation>
			<xs:documentation>Код Справочника лицензируемых видов деятельности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SONOType">
		<xs:annotation>
			<xs:documentation>Код Классификатора системы обозначений налоговых органов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPDULTemplateType">
		<xs:annotation>
			<xs:documentation>Шаблон серии, номера из Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPDULType">
		<xs:annotation>
			<xs:documentation>Код Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SSRFType">
		<xs:annotation>
			<xs:documentation>Код по Справочнику субъектов Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:digits-2"/>
	</xs:simpleType>
	<xs:simpleType name="string-5000">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 5000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-2000">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 2000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1000">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-500">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 500 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-255">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 255 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 100 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-60">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 60 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-50">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-36">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 36 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-25">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 25 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-20">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 20 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-12">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 12 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-10">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 10 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-7">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 7 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-5">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 5 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-3">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 3 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-2">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 2 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 1 символ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation>Глобально уникальный идентификатор (GUID), ровно 36 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UIC">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор начисления</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AddressLocationType">
		<xs:annotation>
			<xs:documentation>Адрес в Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:attribute name="IndexPostal" type="tns:digits-6" use="optional">
			<xs:annotation>
				<xs:documentation>Почтовый индекс</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Region" type="tns:SSRFType" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="District" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Район</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Town" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Город</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Locality" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Населенный пункт</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Street" type="tns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Улица</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="House" type="tns:string-20" use="optional">
			<xs:annotation>
				<xs:documentation>Дом</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Housing" type="tns:string-20" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Apartment" type="tns:string-20" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>