__data__/20184.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="F7ASyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.datacontract.org/2004/07/GetForm7Async" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:import namespace="http://schemas.datacontract.org/2004/07/GetForm7Async" location="F7ASyncService.wsdl"/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="./20184/F7ASyncService.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="./20184/F7ASyncService_1_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="./20184/F7ASyncService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/GetForm7Async"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IF7Service_GetForm7Async_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForm7Async"/>
  </wsdl:message>
  <wsdl:message name="IF7Service_GetForm7Async_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForm7AsyncResponse"/>
  </wsdl:message>
  <wsdl:message name="IF7Service_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus"/>
  </wsdl:message>
  <wsdl:message name="IF7Service_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse"/>
  </wsdl:message>
  <wsdl:portType name="IF7Service">
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IF7Service/GetStatus" message="tns:IF7Service_GetStatus_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IF7Service/GetStatusResponse" message="tns:IF7Service_GetStatus_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetForm7Async">
      <wsdl:output wsaw:Action="http://tempuri.org/IF7Service/GetForm7AsyncResponse" message="tns:IF7Service_GetForm7Async_OutputMessage"/>
      <wsdl:input wsaw:Action="http://tempuri.org/IF7Service/GetForm7Async" message="tns:IF7Service_GetForm7Async_InputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="F7ASyncService">
    <wsdl:port name="CustomBinding_IF7Service" binding="i0:CustomBinding_IF7Service">
      <soap:address location="http://10.241.0.21/Form7Async/F7ASyncService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>