__data__/sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">

    <xs:element name="client">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cl_firstname" type="xs:string" />
                <xs:element name="cl_middlename" type="xs:string" minOccurs="0" />
                <xs:element name="cl_lastname" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>  
    
    <xs:element name="dummy">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>  

</xs:schema>
