__data__/30213/extract_v02/extract_about_zones_v02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="tResolutionRequisites_v02.xsd"/>
	<xsd:include schemaLocation="tDetailsStatement_v02.xsd"/>
	<xsd:include schemaLocation="tCommonTypesObjects_v02.xsd"/>
	<xsd:element name="extract_about_zone" type="ExtractAboutZones">
		<xsd:annotation>
			<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/159/items">Выписка о зоне с особыми условиями использования территорий, территориальной зоне, публичном сервитуте, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития в Российской Федерации, игорной зоне, лесничестве, лесопарковом зеленом поясе, территории резервирования земель для государственных или муниципальных нужд, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье, Байкальской природной территории и ее экологических зонах, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ExtractAboutZones">
		<xsd:annotation>
			<xsd:documentation>Выписка о зоне с особыми условиями использования территорий, территориальной зоне, публичном сервитуте, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития в Российской Федерации, игорной зоне, лесничестве, лесопарковом зеленом поясе, территории резервирования земель для государственных или муниципальных нужд, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье, Байкальской природной территории и ее экологических зонах, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="details_statement" type="DetailsStatement">
				<xsd:annotation>
					<xsd:documentation>Реквизиты выписки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="details_request" type="DetailsRequest">
				<xsd:annotation>
					<xsd:documentation>Реквизиты поступившего запроса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zone_territory_coastline_surveying" type="ZoneTerritoryCoastlineSurveying">
				<xsd:annotation>
					<xsd:documentation>Сведения о зоне, территории, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="guid" type="sGUID">
			<xsd:annotation>
				<xsd:documentation>Глобальный уникальный идентификатор документа</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ZoneTerritoryCoastlineSurveying">
		<xsd:annotation>
			<xsd:documentation>Сведения о зоне, территории, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="zones_and_territories" type="ZonesAndTerritory">
				<xsd:annotation>
					<xsd:documentation>Сведения о зоне с особыми условиями использования территорий, территориальной зоне, публичном сервитуте, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития в Российской Федерации, игорной зоне, лесничестве, лесопарковом зеленом поясе, территории резервирования земель для государственных или муниципальных нужд, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье, Байкальской природной территории и ее экологических зонах, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="coastline" type="Coastline">
				<xsd:annotation>
					<xsd:documentation>Сведения о береговой линии (границе водного объекта)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="surveying_project" type="SurveyingProject">
				<xsd:annotation>
					<xsd:documentation>Сведения о проекте межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="territory_reserve" type="TerritoryReserve">
				<xsd:annotation>
					<xsd:documentation>Сведения о территории, в отношении которой принято решение о резервировании земель для государственных или муниципальных нужд</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ZonesAndTerritory">
		<xsd:annotation>
			<xsd:documentation>Сведения о зоне с особыми условиями использования территорий, территориальной зоне, публичном сервитуте, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития в Российской Федерации, игорной зоне, лесничестве, лесопарковом зеленом поясе, территории резервирования земель для государственных или муниципальных нужд, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье, Байкальской природной территории и ее экологических зонах, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="reg_numb_border">
				<xsd:annotation>
					<xsd:documentation>Реестровый номер границы</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="type_boundary" type="Dict">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/120/items">Вид объекта реестра границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record_info" type="RecordInfoAllDates">
				<xsd:annotation>
					<xsd:documentation>Дата внесения (даты изменения, дата исключения) сведений</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="object" type="ObjectZonesAndTerritories">
				<xsd:annotation>
					<xsd:documentation>Индивидуальное обозначение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decisions_requisites" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты документов (решения, соглашения)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="decision_requisites" type="ResolutionRequisites" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Реквизиты документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="content_restrict_encumbrances" type="MultiLiner" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сведения о содержании ограничений использования объектов недвижимости в пределах зоны с особыми условиями использования территорий, территориальной зоны, территории объектов культурного наследия, особо охраняемой природной территории, Байкальской природной территории и ее экологических зон</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="permitted_uses" type="ZonePermittedUses" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Виды разрешенного использования земельных участков, расположенных в территориальной зоне</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="map_plan_information" type="InformationFund" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сведения о карте (плане) объекта землеустройства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contours_location" type="BoundContoursLocationOut">
				<xsd:annotation>
					<xsd:documentation>Описание местоположения границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="included_parcels" type="IncludedParcels" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Перечень земельных участков, полностью или частично расположенных в границах зоны или территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="Coastline">
		<xsd:annotation>
			<xsd:documentation>Сведения о береговой линии (границе водного объекта)</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="reg_numb_border">
				<xsd:annotation>
					<xsd:documentation>Реестровый номер границы</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="type_boundary" type="Dict">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/120/items">Вид объекта реестра границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record_info" type="RecordInfoAllDates">
				<xsd:annotation>
					<xsd:documentation>Дата внесения (даты изменения, дата исключения) сведений</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decisions_requisites" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты документов (решения, соглашения)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="decision_requisites" type="ResolutionRequisites" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Реквизиты документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="contours_location" type="BoundContoursLocationOut">
				<xsd:annotation>
					<xsd:documentation>Описание местоположения границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="SurveyingProject">
		<xsd:annotation>
			<xsd:documentation>Сведения о проекте межевания территории</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="survey_project_num" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Учетный номер проекта межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type_boundary" type="Dict">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/120/items">Вид объекта реестра границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="old_account_number" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ранее присвоенный учетный номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record_info" type="RecordInfoAllDates">
				<xsd:annotation>
					<xsd:documentation>Дата внесения (даты изменения, дата исключения) сведений</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decision_requisites" type="ResolutionRequisites" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты решения об утверждении проекта межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="forming_parcels" type="FormingParcelsNumberContours">
				<xsd:annotation>
					<xsd:documentation>Образуемые земельные участки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="TerritoryReserve">
		<xsd:annotation>
			<xsd:documentation>Сведения о границе территории резервирования земель или об изменении сведений о такой границе</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="reg_numb_border" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Реестровый номер границы</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record_info" type="RecordInfoAllDates">
				<xsd:annotation>
					<xsd:documentation>Дата внесения (даты изменения, дата исключения) сведений</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reserve_parameter" type="ReserveParameter">
				<xsd:annotation>
					<xsd:documentation>Общие сведения о зоне или территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decisions_requisites">
				<xsd:annotation>
					<xsd:documentation>Реквизиты документов (решения, соглашения)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="decision_requisites" type="ResolutionRequisites" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Реквизиты документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="contours_location" type="BoundContoursLocationOut">
				<xsd:annotation>
					<xsd:documentation>Описание местоположения границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReserveParameter">
		<xsd:annotation>
			<xsd:documentation>Характеристика территории резервирования земель</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="content_restrict_encumbrances" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Ограничения прав на земельные участки, расположенные в границах зарезервированных земель</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purpose_land_reserve" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Цели резервирования земель</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period">
				<xsd:annotation>
					<xsd:documentation>Срок резервирования земель</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="no_period_info">
							<xsd:annotation>
								<xsd:documentation>Срок действия не установлен</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="no_period" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation>Срок действия не установлен</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="period_info">
							<xsd:annotation>
								<xsd:documentation>Указать срок действия</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="start_date" type="xsd:date">
										<xsd:annotation>
											<xsd:documentation>Срок действия с</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="end_date" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Срокй действия по</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="deal_validity_time" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Продолжительность ограничения</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObjectZonesAndTerritories">
		<xsd:annotation>
			<xsd:documentation>Общие сведения о зоне или территории</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="description" type="MultiLiner" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование объекта землеустройства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name_by_doc" type="MultiLiner" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вид или наименование зоны (территории) по документу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type_zone" type="Dict" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/61/items">Тип зоны (территории)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="index" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Индекс</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="authority_decision" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование органа государственной власти или органа местного самоуправления, принявшего решение об установлении зоны, о создании территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="other" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Иные идентифицирующие сведения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
